version: '2'

services:
  keycloak:
    image: jboss/keycloak
    ports:
      - "8081:8080"
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
    volumes:
      - ./data/keycloak:/opt/jboss/keycloak/standalone/data
